<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@{{ domain }}
    DocumentRoot "/var/www/{{ domain }}"
    ServerName {{ host_name }}.{{ domain }}
    ServerAlias www.{{ domain }}
    ErrorLog "/var/log/httpd/{{ host_name }}.{{ domain }}-error.log"
    CustomLog "/var/log/httpd/{{ host_name }}.{{ domain }}-access_log" common
</VirtualHost>
